@{
    ViewData["Title"] = "Home Page";
}

<hr />
<div class="text-center">
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="AddFood">Add Food</a>
</div>
<hr />

<hr />
<div class="text-center">
    <a class="btn btn-warning btn-lg" asp-area="" asp-controller="Foods" asp-action="Index">Add Food</a>
</div>
<hr />

